{% extends 'base.html.twig' %}

{% block title %}Ön Sipariş{% endblock %}

{% block body %}
<h1 align='center'>Ürünler</h1>
<div class='container'>
    <b>
        <div class='row'>
            <div class='col'> Ürün adı </div>
            <div class='col'> Adet </div>
        </div>
        <hr>
    </b>
    {% for product in products %}
        <div class='row'>
            <div class='col'> {{ product.name }} </div>
            <div class='col'> {{ product.count }} Adet </div>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}